# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# PIX (placeholder)
NEXT_PUBLIC_PIX_KEY=pix@igrejameta.com




# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.gqhwywiswwvwpfqyjcln:bC$~E5s4{a`_ibp@ha'qtx|4Rr(B"{EQ4AbBQW{BZdq1f4l|Ig@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.gqhwywiswwvwpfqyjcln:bC$~E5s4{a`_ibp@ha'qtx|4Rr(B"{EQ4AbBQW{BZdq1f4l|Ig@aws-1-us-east-1.pooler.supabase.com:5432/postgres"
